@charset "UTF-8";
/*深背景色*/
/*高亮背景色*/
/*高亮色*/
/*深字体色*/
/*兼容前缀*/
/*弹性布局*/
/* 分割线*/
/*发现首页*/
.findIndex {
  padding-bottom: .98rem; }
  .findIndex .content li {
    margin-bottom: .1rem;
    position: relative; }
    .findIndex .content li p {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      font-size: .6rem;
      color: #fff;
      text-shadow: 1px 1px 3px #333; }
  .findIndex .content img {
    height: 3.6rem; }

/*发现详情页*/
.findDetail section {
  position: relative; }
  .findDetail section .album {
    height: 4.5rem;
    overflow: hidden; }
    .findDetail section .album img {
      object-fit: cover;
      object-position: center center;
      height: 100%; }
  .findDetail section .fStatus {
    position: absolute;
    z-index: 10;
    top: 0rem;
    right: 0rem;
    padding: .4rem; }
    .findDetail section .fStatus:after {
      content: '';
      font-family: FontAwesome;
      color: #ff4e00;
      font-size: .6rem;
      text-shadow: 1px 1px 1px #333; }
    .findDetail section .fStatus.focused:after {
      content: ""; }
  .findDetail section .merIcon {
    width: 1.5rem;
    height: 1.5rem;
    border: solid .06rem #fff;
    border-radius: 50%;
    position: absolute;
    right: 0.2rem;
    top: 3.7rem; }
  .findDetail section .desc {
    padding: 0.2rem; }
    .findDetail section .desc h2 {
      font-size: .36rem;
      color: #222325;
      margin: .2rem 0; }

/*发现-民宿简介详情页*/
.merDetail {
  font-size: .28rem;
  padding-bottom: .8rem; }
  .merDetail .album {
    height: 3.06rem; }
  .merDetail #albumIndex {
    position: absolute;
    right: .2rem;
    bottom: .2rem;
    color: #fff;
    z-index: 10;
    text-shadow: 1px 1px 1px #333; }
  .merDetail .actions {
    margin-top: .54rem;
    margin-bottom: .6rem; }
    .merDetail .actions li {
      text-align: center;
      -webkit-transition: all .5s linear; }
      .merDetail .actions li.checked {
        color: #ff4e00; }
        .merDetail .actions li.checked span {
          border-color: #ff4e00; }
    .merDetail .actions span {
      font-size: .6rem;
      border: solid 1px #d1d1d1;
      border-radius: 50%;
      width: 1.1rem;
      height: 1.1rem;
      text-align: center;
      display: inline-block;
      line-height: 1.1rem; }
    .merDetail .actions p {
      margin-top: .2rem;
      font-size: .3rem; }
  .merDetail .lrBox {
    padding-bottom: .62rem; }
  .merDetail .iconData {
    padding: 0.3rem 0.2rem;
    margin-bottom: 0; }
    .merDetail .iconData .iconFont {
      font-size: .6rem;
      vertical-align: bottom; }
  .merDetail .descC h2 {
    color: #333;
    margin-top: .1rem;
    margin-bottom: .2rem; }
  .merDetail .descC p {
    color: #444;
    margin-bottom: .24rem; }
  .merDetail .locateC {
    padding: 0.2rem 0;
    color: #444; }
    .merDetail .locateC .contact {
      border-bottom: solid 1px #b2b3b9; }
      .merDetail .locateC .contact > div {
        padding: 0.13333rem 0.2rem; }
        .merDetail .locateC .contact > div em {
          float: right; }
      .merDetail .locateC .contact .iconFont {
        -webkit-animation: spot 3s linear infinite; }
    .merDetail .locateC .service {
      padding: 0.2rem; }
      .merDetail .locateC .service b {
        margin: .2rem 0 .3rem 0;
        display: block; }
      .merDetail .locateC .service li {
        float: left;
        width: 33%;
        margin: .08rem 0; }
  .merDetail .intro {
    position: absolute;
    top: .84rem;
    bottom: .84rem;
    width: 100%; }
    .merDetail .intro ul {
      height: 100%; }
    .merDetail .intro li {
      position: relative;
      height: 100%;
      overflow: hidden; }
      .merDetail .intro li div {
        padding: 0 0.6rem 0.2rem 0.2rem;
        position: absolute;
        bottom: 0;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.78));
        color: #f7f7f7;
        padding-bottom: .54rem; }
        .merDetail .intro li div .hostImg {
          border-radius: 50%;
          border: solid #d6cecc .06rem;
          position: absolute;
          top: -2.2rem;
          width: 1.5rem;
          height: 1.5rem; }
      .merDetail .intro li .title {
        height: .5rem;
        line-height: .5rem;
        position: absolute;
        top: -.54rem;
        left: -0.2rem;
        right: 0;
        padding-left: 0.4rem;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.6)); }
  .merDetail .pics {
    top: .8rem;
    opacity: 1;
    bottom: 1.4rem;
    position: absolute;
    width: 100%; }
    .merDetail .pics.showState {
      -webkit-transition: all .3s linear;
      background: rgba(0, 0, 0, 0.75); }
      .merDetail .pics.showState .pageIndex {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-filter: blur(0px); }
    .merDetail .pics .pageIndex {
      -webkit-transition: all .2s linear;
      opacity: 0;
      transform: scale(2);
      -webkit-filter: blur(3px);
      position: absolute;
      bottom: 0rem;
      height: .6rem;
      line-height: .6rem;
      color: #fff;
      text-align: center;
      left: 0;
      right: 0; }
    .merDetail .pics li > div {
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #fff;
      padding: 0.2rem; }
      .merDetail .pics li > div span {
        font-size: .3rem; }
      .merDetail .pics li > div em {
        color: #ff4200;
        float: right;
        font-size: .36rem; }
      .merDetail .pics li > div p {
        margin-top: .1rem; }
  .merDetail .tabFoot {
    font-size: .3rem;
    text-align: center;
    background: #e7e8ef; }
    .merDetail .tabFoot li {
      height: .8rem;
      line-height: .8rem;
      border-right: solid 1px #c1c2c8;
      border-left: solid 1px #f2f3f9;
      position: relative; }
      .merDetail .tabFoot li:first-child {
        border-left: none; }
      .merDetail .tabFoot li:last-child {
        border-right: none; }
      .merDetail .tabFoot li.active {
        background: #fff; }
        .merDetail .tabFoot li.active:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          height: .04rem;
          background: #ff4e00; }
      .merDetail .tabFoot li .vipC {
        display: inline-block;
        border-radius: .06rem;
        background: #fc7411;
        color: #fff;
        height: .6rem;
        line-height: .6rem;
        width: 1.6rem; }

@-webkit-keyframes spot {}
/*收藏*/
.collect .lrBox {
  padding: 0.4rem 0.4rem 0.4rem 0.2rem; }
  .collect .lrBox img {
    border-radius: 0;
    width: 2rem;
    height: 1.4rem; }
  .collect .lrBox h2 {
    font-size: .3rem; }
  .collect .lrBox p {
    font-size: .24rem; }

/*个人中心*/
.userCenter .unameC {
  height: 2.8rem;
  position: relative; }
  .userCenter .unameC .uname {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%); }
    .userCenter .unameC .uname img {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%; }
    .userCenter .unameC .uname p {
      font-size: .3rem;
      color: #f33f00;
      margin-top: .18rem;
      text-align: center; }
.userCenter .actions li {
  padding: 0.28rem 0.2rem;
  border-bottom: solid 1px #b2b3b9;
  font-size: .3rem; }

/*# sourceMappingURL=kings.css.map */
