@charset "UTF-8";
/*深背景色*/
/*高亮背景色*/
/*高亮色*/
/*深字体色*/
/*兼容前缀*/
/*弹性布局*/
/* 分割线*/
* {
  outline: none !important; }

html {
  -webkit-text-size-adjust: "100%";
  min-width: 320px;
  height: 100%; }

ul, li, div, p, body, pre, dl, dt, dd {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

cite, i, em, del {
  font-style: normal; }

.hide {
  display: none; }

img {
  display: block;
  width: 100%;
  vertical-align: bottom; }

p {
  line-height: 1.4; }

body {
  color: #222325;
  background: #fff;
  font-size: .24em;
  text-align: left;
  /*font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-weight: normal;
  -webkit-user-select: none;
  line-height: 1;
  min-height: 100%;
  min-width: 6.4rem;
  padding-top: .84rem; }
  body.noHF {
    padding: 0; }
  body.noH {
    padding-top: 0; }
  body.noF {
    padding-bottom: 0; }

* {
  box-sizing: border-box; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none; }

table {
  width: 100%; }

.layout {
  padding: 0.2rem;
  text-align: center; }

.hBox {
  display: -webkit-box;
  -webkit-box-orient: horizontal; }
  .hBox .flex1 {
    -webkit-box-flex: 1;
    width: 1px; }
  .hBox .flex2 {
    -webkit-box-flex: 2;
    width: 1px; }
  .hBox .flex3 {
    -webkit-box-flex: 3;
    width: 1px; }
  .hBox .flex4 {
    -webkit-box-flex: 4;
    width: 1px; }
  .hBox .flex5 {
    -webkit-box-flex: 5;
    width: 1px; }
  .hBox .flex6 {
    -webkit-box-flex: 6;
    width: 1px; }
  .hBox .flex7 {
    -webkit-box-flex: 7;
    width: 1px; }
  .hBox .flex8 {
    -webkit-box-flex: 8;
    width: 1px; }
  .hBox .flex9 {
    -webkit-box-flex: 9;
    width: 1px; }
  .hBox .flex10 {
    -webkit-box-flex: 10;
    width: 1px; }
  .hBox .flex11 {
    -webkit-box-flex: 11;
    width: 1px; }
  .hBox .flex12 {
    -webkit-box-flex: 12;
    width: 1px; }

.vBox {
  display: -webkit-box;
  -webkit-box-orient: vertical; }
  .vBox .flex1 {
    -webkit-box-flex: 1; }
  .vBox .flex2 {
    -webkit-box-flex: 2; }
  .vBox .flex3 {
    -webkit-box-flex: 3; }
  .vBox .flex4 {
    -webkit-box-flex: 4; }
  .vBox .flex5 {
    -webkit-box-flex: 5; }
  .vBox .flex6 {
    -webkit-box-flex: 6; }
  .vBox .flex7 {
    -webkit-box-flex: 7; }
  .vBox .flex8 {
    -webkit-box-flex: 8; }
  .vBox .flex9 {
    -webkit-box-flex: 9; }
  .vBox .flex10 {
    -webkit-box-flex: 10; }
  .vBox .flex11 {
    -webkit-box-flex: 11; }
  .vBox .flex12 {
    -webkit-box-flex: 12; }

/*清除浮动*/
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.canTouch:active {
  background: #efefef !important; }

.lineDot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*更多*/
.more {
  position: relative;
  padding-right: .4rem;
  width: 100%;
  box-sizing: border-box; }
  .more:active {
    background: #efefef !important; }

.more:after {
  position: absolute;
  right: .2rem;
  top: 50%;
  display: block;
  content: '';
  width: .6em;
  height: .6em;
  border-left: .02rem solid #4d4d4d;
  border-bottom: .02rem solid #4d4d4d;
  -webkit-transform: translateY(-50%) scaleY(0.7) rotateZ(-135deg); }

.more-up:after {
  -webkit-transform: translateY(-80%) scaleX(1.1) rotateZ(135deg); }

.more-down:after {
  -webkit-transform: translateY(-80%) scaleX(1.1) rotateZ(-45deg); }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.iconFont {
  font-family: FontAwesome;
  text-align: center; }

header {
  position: fixed;
  z-index: 900;
  top: 0;
  width: 100%;
  height: .84rem;
  font-size: .4rem;
  text-align: center;
  line-height: .84rem;
  color: #fff;
  background: #222325; }
  header .iconFont {
    position: absolute;
    left: 0; }
  header .back {
    font-size: .6rem;
    padding: 0 .4rem; }
  header em.iconFont {
    right: 0;
    left: auto;
    padding: 0 .4rem; }

.foot {
  display: -webkit-box;
  position: fixed;
  box-shadow: 0 0 10px #fff;
  bottom: 0;
  left: 0;
  right: 0; }

footer {
  display: -webkit-box;
  font-family: FontAwesome;
  position: fixed;
  box-shadow: 0 0 10px #fff;
  bottom: 0;
  left: 0;
  right: 0; }
  footer div {
    -webkit-box-flex: 1;
    text-align: center;
    height: .98rem;
    background: #222325;
    color: #fff;
    padding-top: .18rem; }
  footer span {
    border: solid 1px #fff;
    border-radius: 50%;
    font-size: .38rem;
    display: inline-block;
    line-height: .62rem;
    text-align: center;
    width: .62rem;
    height: .62rem; }
    footer span:hover {
      color: red;
      box-shadow: 0 0 5px red,0 0 3px red inset;
      -webkit-transition: all .3s linear;
      border-color: red; }

.clicked {
  -webkit-animation: rubberBand 1s ease-in-out; }

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.55, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.55, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1); } }
/*business common*/
.cites {
  margin-bottom: .2rem; }
  .cites cite {
    color: #fff;
    font-size: .3rem;
    background: #ff4e00;
    border-radius: .08rem;
    line-height: .62rem;
    height: .62rem;
    float: left;
    margin-right: .4rem;
    padding: 0 .16rem;
    min-width: 1.62rem;
    text-align: center;
    margin-bottom: .1rem; }

.coverImg {
  object-fit: cover;
  object-position: center center;
  height: 100%; }

.album {
  overflow: hidden; }

.bars > div {
  padding: 0.46rem 0.2rem;
  font-size: .3rem;
  border-bottom: solid 1px #b2b3b9; }
  .bars > div em {
    color: #ff4e00;
    font-size: .34rem;
    float: right;
    padding-right: 0.2rem; }
  .bars > div.more {
    padding-right: 0.4rem; }
  .bars > div:last-child {
    border: none;
    padding-bottom: .56rem;
    background: url(../img/lineShadow.png) left bottom no-repeat;
    background-size: contain; }

.lrBox {
  position: relative;
  border-bottom: solid 1px #b2b3b9;
  min-height: 1.5rem;
  display: -webkit-box; }
  .lrBox > div {
    margin-right: .2rem; }
    .lrBox > div img {
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem; }
  .lrBox > article {
    -webkit-box-flex: 1; }
    .lrBox > article h2 {
      font-size: .28rem;
      color: #333; }

.iconData {
  margin-bottom: .3rem; }
  .iconData p, .iconData img {
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: .3rem;
    margin-bottom: .1rem; }
  .iconData p {
    border: solid 1px #b6b6b6;
    line-height: .9rem;
    text-align: center;
    font-size: .3rem;
    color: #333; }

.tab {
  border: solid 1px #b2b3b9;
  border-left: none;
  border-right: none; }
  .tab li {
    font-size: .3rem;
    height: .54rem;
    line-height: .54rem;
    color: #666;
    text-align: center;
    position: relative;
    border-right: solid 1px #b2b3b9;
    -webkit-transition: all .3s linear; }
    .tab li:last-child {
      border: none; }
    .tab li.active {
      color: #212121; }
      .tab li.active:after {
        content: "";
        height: .02rem;
        position: absolute;
        left: 0;
        right: 0;
        background: #222325;
        bottom: 0; }

.tabItem {
  padding: 0.2rem; }

video {
  width: 100%; }

.album {
  position: relative;
  overflow: hidden; }

.iSlider-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute; }
  .iSlider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; }
  .iSlider-wrapper li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none; }
    .iSlider-wrapper li img {
      max-width: 100%;
      max-height: 100%; }

.islider-dot-wrap {
  width: 80%;
  height: 10%;
  margin: 0px auto;
  position: absolute;
  padding: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
  text-align: center; }
  .islider-dot-wrap .islider-dot {
    position: relative;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: 1px solid white;
    list-style-type: none;
    margin: 5px;
    box-shadow: 0 0 2px 1px #333; }
    .islider-dot-wrap .islider-dot.active {
      background-color: #fff; }

iframe {
  height: 100%;
  width: 100%;
  display: block;
  border: none;
  box-shadow: 0 0 10px #2191C0; }

.shadowDiv {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100; }

.paneC {
  display: none;
  z-index: 850;
  position: absolute;
  left: .1rem;
  right: .1rem;
  bottom: .1rem; }
  .paneC.showState {
    display: block;
    opacity: 1;
    -webkit-animation: inX 1s ease-in-out forwards; }
  .paneC ul {
    background: #fff;
    text-align: center;
    padding: .5rem 0;
    border-radius: .06rem; }
  .paneC .btn {
    background: #fff;
    color: #212121;
    margin-top: .3rem;
    border-radius: .06rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem; }

.shareC img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 auto; }
.shareC p {
  color: #333;
  margin-top: .18rem; }

.telC {
  font-size: .42rem;
  color: #009036; }
  .telC ul {
    padding: 0;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #009036; }
  .telC .iconFont {
    font-size: .6rem;
    margin-right: .1rem;
    position: relative;
    top: .08rem; }

@-webkit-keyframes inX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
    filter: alpha(opacity=0); }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    filter: alpha(opacity=100); }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px); } }
.listItem li {
  padding: 0.28rem 0.2rem;
  border-bottom: solid 1px #b2b3b9;
  font-size: .3rem; }
.listItem em {
  float: right; }

.switch {
  border: solid .02rem #e5e5e5;
  border-radius: .8rem;
  width: .84rem;
  height: .5rem;
  display: inline-block;
  transition: all .3s linear; }
  .switch:after {
    content: "";
    width: .42rem;
    height: .42rem;
    transition: all .3s linear;
    transform: translateX(0.02rem);
    position: relative;
    top: .02rem;
    background: green;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 3px 1px #ccc; }
  .switch.on {
    border-color: #6fd865;
    background: #6fd865; }
    .switch.on:after {
      transform: translateX(0.38rem); }

/*文章*/
.article {
  padding: 0.2rem; }
  .article .imgC {
    margin: .22rem -.1rem .1rem; }
  .article span {
    font-size: .3rem; }
  .article p {
    font-size: .28rem;
    line-height: 1.8;
    text-indent: .56rem; }

input[type=checkbox] {
  -webkit-appearance: none;
  width: .36rem;
  height: .36rem;
  border-radius: .06rem;
  border: .02rem solid #fff;
  text-align: center;
  vertical-align: middle;
  line-height: .36rem;
  outline: 0;
  margin-right: .16rem; }

input[type=checkbox]:checked {
  background: #92a39b; }
  input[type=checkbox]:checked:after {
    content: "";
    font-size: .24rem;
    font-family: FontAwesome; }

/*# sourceMappingURL=public.css.map */
