@charset "UTF-8";
/*兼容前缀*/
/*弹性布局*/
/* 分割线*/
* {
  outline: none !important; }

html {
  -webkit-text-size-adjust: "100%";
  min-width: 320px;
  height: 100%; }

ul, li, div, p, body, pre, dl, dt, dd {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

cite, i, em, del {
  font-style: normal; }

.hide {
  display: none; }

body {
  color: #333;
  font-size: .24em;
  text-align: left;
  /*font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-weight: normal;
  -webkit-user-select: none;
  line-height: 1;
  min-width: 2.4rem; }

* {
  box-sizing: border-box; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none; }

p {
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal; }

/* ==========  special common  =========== */
table {
  width: 100%; }

body {
  text-align: center; }

.layout {
  padding: 0.2rem; }

.hBox {
  display: -webkit-box;
  -webkit-box-orient: horizontal; }

.vBox {
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.flex1 {
  -webkit-box-flex: 1; }

.flex2 {
  -webkit-box-flex: 2; }

.flex3 {
  -webkit-box-flex: 3; }

.flex4 {
  -webkit-box-flex: 4; }

.flex5 {
  -webkit-box-flex: 5; }

.flex6 {
  -webkit-box-flex: 6; }

.flex7 {
  -webkit-box-flex: 7; }

.flex8 {
  -webkit-box-flex: 8; }

.flex9 {
  -webkit-box-flex: 9; }

.flex10 {
  -webkit-box-flex: 10; }

.flex11 {
  -webkit-box-flex: 11; }

.flex12 {
  -webkit-box-flex: 12; }

/*清除浮动*/
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.canTouch {
  cursor: pointer; }

/*更多*/
.more {
  position: relative;
  padding-right: .4rem;
  width: 100%;
  box-sizing: border-box; }

.more:after {
  position: absolute;
  right: .05rem;
  top: 50%;
  display: block;
  content: '';
  width: .6em;
  height: .6em;
  border-left: .02rem solid #999;
  border-bottom: .02rem solid #999;
  -webkit-transform: translateY(-50%) scaleY(0.7) rotateZ(-135deg); }

.more-up:after {
  -webkit-transform: translateY(-80%) scaleX(1.1) rotateZ(135deg); }

.more-down:after {
  -webkit-transform: translateY(-80%) scaleX(1.1) rotateZ(-45deg); }

/* ======= ele common ========*/
input[type=text] {
  padding: 0 .1rem; }

img {
  vertical-align: top;
  pointer-events: none;
  width: 100%; }

/* ====== business common =======  */
#shadowDiv, .shadowDiv {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.8); }

.linkBar {
  z-index: 100;
  font-size: .24rem;
  color: #22b072;
  background: #fff;
  height: .58rem;
  padding: 0.06rem 10%;
  position: fixed;
  bottom: 0px;
  width: 100%; }
  .linkBar p {
    height: .44rem;
    line-height: .42rem;
    border: solid 1px #22b072;
    border-radius: .5rem; }
    .linkBar p:active {
      background: #115839; }

.centerC {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center; }

/*浮层用户信息*/
.floatUser {
  min-width: 5rem;
  position: relative;
  background: #fff;
  border-radius: .28rem;
  padding: .2rem 0;
  box-shadow: 0 0 10px #fff inset;
  text-align: center;
  color: #424242;
  font-size: .28rem; }
  .floatUser .content {
    overflow: hidden;
    padding-bottom: .4rem;
    position: relative; }
  .floatUser .btnClose {
    position: absolute;
    right: -.2rem;
    top: -.2rem;
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    background: #12b171; }
    .floatUser .btnClose:before, .floatUser .btnClose:after {
      content: '';
      width: .24rem;
      height: .02rem;
      position: absolute;
      right: 0;
      -webkit-transform: translate(-0.12rem, 0.2rem) rotate(45deg);
      border-bottom: solid 1px #fff; }
    .floatUser .btnClose:after {
      -webkit-transform: translate(-0.12rem, 0.2rem) rotate(-45deg); }
  .floatUser .btnC {
    padding: .2rem 0; }
  .floatUser .btn {
    font-size: .5rem;
    color: #12b171;
    border: solid 1px #12b171; }
    .floatUser .btn.hover {
      background: #eee; }

.imgBox {
  position: relative;
  margin: 0 auto;
  border: solid .06rem #fff;
  border-radius: 50%;
  overflow: hidden; }
  .imgBox img {
    width: 100%;
    height: 100%; }

.btnRule, .btnClose {
  background: #22b072;
  color: #fff; }
  .btnRule:active, .btnClose:active {
    background: #115839; }

.btnRule {
  border-radius: 0 0 .08rem .08rem;
  position: absolute;
  right: 0.2rem;
  top: -.04rem;
  width: .88rem;
  line-height: 1.2;
  padding: .18rem .12rem; }

/*活动规则浮层*/
.actDesc {
  z-index: 200;
  -webkit-transform: translateY(-120%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #fff; }
  .actDesc.show {
    -webkit-animation: slideDown 600ms ease-in-out 1 forwards; }
  .actDesc.hideState {
    -webkit-animation: slideUp 600ms cubic-bezier(0, 0.74, 0.24, 0.99) 1 forwards; }
  .actDesc .title {
    height: .9rem;
    line-height: .9rem;
    font-size: .36rem;
    background: #e74c3c;
    color: #fff; }
  .actDesc .content {
    text-align: left;
    overflow: scroll; }
  .actDesc .btnClose {
    border-radius: 0 0 .08rem .08rem;
    position: absolute;
    right: 0.2rem;
    bottom: -.68rem;
    width: .88rem;
    height: .68rem; }
    .actDesc .btnClose:before, .actDesc .btnClose:after {
      content: '';
      width: .3rem;
      height: .02rem;
      position: absolute;
      right: 0.14rem;
      top: .1rem;
      -webkit-transform: translate(-0.12rem, 0.2rem) rotate(45deg);
      border-bottom: solid 1px #fff; }
    .actDesc .btnClose:after {
      -webkit-transform: translate(-0.12rem, 0.2rem) rotate(-45deg); }

/*首页*/
.index {
  padding-bottom: .7rem; }
  .index .main {
    background: #e74c3c; }
    .index .main .logo {
      position: absolute;
      left: 0.2rem;
      top: .1rem;
      background: url(../img/logoLittle.png) no-repeat;
      background-size: 100%;
      width: 1.03rem;
      height: .49rem; }
    .index .main .list {
      margin-top: .28rem;
      padding: 0 .4rem; }
      .index .main .list .item {
        float: left;
        text-align: center;
        padding-bottom: .2rem;
        position: relative; }
        .index .main .list .item.actived {
          box-shadow: 0 0 10px 5px yellow inset; }
        .index .main .list .item .infos {
          margin: 0 auto;
          position: relative; }
        .index .main .list .item .city {
          width: .68rem;
          height: .6rem;
          line-height: .54rem;
          background: url(../img/cloud.png) no-repeat;
          background-size: 100%;
          color: #fff;
          font-size: .16rem;
          position: absolute;
          right: -.2rem;
          top: -.4rem;
          z-index: 2; }
  .index #floatCEO {
    display: none; }
    .index #floatCEO.show {
      -webkit-animation: fadeIn 300ms linear 1 forwards; }
    .index #floatCEO.hideState {
      -webkit-animation: fadeOut 300ms linear 1 forwards; }
  .index #listC {
    display: none; }
  .index .floatUser {
    background: #f1f1f1;
    width: 70%;
    padding: .78rem; }
    .index .floatUser .imgBox {
      width: 1.8rem;
      height: 1.8rem; }
    .index .floatUser .name {
      font-size: .36rem;
      display: block;
      line-height: .5rem; }
    .index .floatUser .line {
      border-top: solid 1px #c7c7c7;
      margin: .28rem 0px; }
    .index .floatUser .intro {
      color: #6d6c69;
      font-size: .22rem; }
    .index .floatUser .btn {
      font-size: .36rem;
      color: #e74c3c;
      height: .82rem;
      line-height: .78rem;
      border: solid 1px #e74c3c;
      border-radius: 2rem; }
      .index .floatUser .btn:active {
        background: #ddd; }
    .index .floatUser .exInfo {
      color: #6d6c69; }

/*猜测*/
.guess {
  background: #f1f1f1;
  /*猜测记录*/ }
  .guess .btn, .guess .btn.red {
    font-size: .36rem;
    color: #fff;
    background: #e94b35;
    height: .66rem;
    line-height: .66rem;
    border-radius: 2rem; }
    .guess .btn:active, .guess .btn.red:active {
      background: #74251a; }
    .guess .btn.green, .guess .btn.red.green {
      background: #11c258; }
      .guess .btn.green:active, .guess .btn.red.green:active {
        background: #08612c; }
  .guess .imgBox {
    width: 1.52rem;
    height: 1.52rem; }
  .guess .pic2 .imgBox {
    display: inline-block; }
    .guess .pic2 .imgBox.p2 {
      position: relative;
      left: -.3rem; }
  .guess b {
    display: block; }
  .guess .infos .title {
    font-size: .42rem;
    color: #000;
    margin-top: .14rem;
    margin-bottom: .08rem; }
  .guess .okTip {
    color: #fff;
    background: #e74c3c;
    font-size: .38rem;
    height: .6rem;
    line-height: .6rem;
    margin: 0 .76rem;
    position: relative;
    margin-bottom: .1rem; }
    .guess .okTip span, .guess .okTip del {
      position: absolute;
      background: #c42c1c;
      top: .26rem;
      height: .6rem;
      width: .5rem;
      left: -.4rem;
      z-index: -1; }
      .guess .okTip span:after, .guess .okTip del:after {
        content: '';
        width: 0;
        height: 0;
        display: inline-block;
        border-left: 0.12rem solid #f1f1f1;
        border-top: .3rem solid transparent;
        border-bottom: .3rem solid transparent;
        border-right: 0;
        margin-left: -0.4rem; }
    .guess .okTip del {
      left: auto;
      right: -.4rem; }
      .guess .okTip del:after {
        border-right: 0.12rem solid #f1f1f1;
        border-top: .3rem solid transparent;
        border-bottom: .3rem solid transparent;
        border-left: 0;
        margin-left: 0;
        margin-right: -0.38rem; }
  .guess .help {
    font-size: .34rem; }
  .guess .chance {
    font-size: .28rem; }
    .guess .chance .red {
      color: #e94b35; }
    .guess .chance .green {
      color: #22b072; }
  .guess .contact {
    padding: .2rem; }
  .guess .contactTitle {
    font-size: .28rem;
    color: #000;
    margin: .16rem 0; }
  .guess input {
    border: solid 1px #ababab;
    height: .64rem;
    line-height: .32rem;
    display: block;
    width: 100%;
    margin-bottom: .2rem; }
  .guess .txtC {
    position: relative; }
  .guess .btnMark {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: #11c258;
    padding: 0 .14rem;
    height: .64rem;
    line-height: .64rem; }
    .guess .btnMark:active {
      background: #08612c; }
  .guess .game {
    background: #373737;
    border-radius: .08rem;
    padding: .26rem .72rem;
    margin-top: .2rem;
    position: relative; }
    .guess .game:before, .guess .game:after {
      content: '';
      background: url(../img/light.png);
      background-size: 100%;
      width: .6rem;
      height: .6rem;
      position: absolute;
      left: .1rem;
      top: 1rem; }
    .guess .game:after {
      right: .1rem;
      left: auto; }
    .guess .game .pad {
      padding: .3rem;
      background: #e74c3c;
      border-radius: .08rem;
      position: relative; }
      .guess .game .pad .desc {
        color: #6a0a00;
        position: absolute;
        bottom: .02rem;
        left: 0;
        right: 0; }
    .guess .game .content {
      background: #040404;
      border-radius: .08rem; }
    .guess .game .guessNum {
      overflow: hidden;
      width: 1rem;
      background: #fff;
      height: 1.52rem;
      background: url(../img/bgNum.jpg) no-repeat;
      background-size: 100%;
      color: #373737;
      font-size: 1.1rem;
      text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.75), 1px 1px 2px #000000; }
      .guess .game .guessNum div {
        line-height: 1.52rem; }
  .guess .btnGuess {
    font-size: .36rem;
    color: #fff;
    background: #e94b35;
    height: .66rem;
    line-height: .66rem;
    border-radius: 2rem; }
    .guess .btnGuess:active {
      background: #74251a; }
  .guess .btnC .btn {
    margin-bottom: .1rem; }
  .guess .hisInfo {
    border: solid 1px #bab9b5;
    border-radius: .14rem;
    padding: .16rem;
    padding-bottom: 0;
    margin-top: .2rem;
    font-size: .18rem; }
    .guess .hisInfo dt {
      font-size: .24rem; }
    .guess .hisInfo dd {
      margin: .06rem 0; }
    .guess .hisInfo li {
      float: left;
      line-height: .44rem;
      text-align: left; }
    .guess .hisInfo .c1 {
      font-size: .18rem;
      width: 20%; }
      .guess .hisInfo .c1 img {
        width: .44rem;
        height: .44rem;
        border-radius: .08rem;
        float: left;
        margin-right: .08rem; }
    .guess .hisInfo .c2 {
      color: #666563;
      width: 20%; }
    .guess .hisInfo .c3 {
      width: 20%;
      color: #fd334b; }
    .guess .hisInfo .c4 {
      width: 20%; }
    .guess .hisInfo .c5 {
      float: right;
      color: #12b171;
      border: solid 1px #12b171;
      line-height: .3rem;
      margin: .06rem;
      padding: 0 .06rem;
      border-radius: .06rem; }
  .guess .invite p {
    font-size: .36rem;
    color: #424242; }
  .guess .result {
    background: url(../img/fail.png) no-repeat center 0.2rem;
    background-size: .89rem .92rem; }
    .guess .result.fail {
      background-image: url(../img/fail.png);
      padding-top: 2rem; }
    .guess .result.success {
      background-image: url(../img/success.png);
      padding-top: 1.6rem;
      position: relative; }
      .guess .result.success:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3.58rem;
        top: -2.4rem;
        left: 0;
        background: url(../img/stars.png);
        background-size: 100%; }
    .guess .result p {
      font-size: .28rem; }
    .guess .result .note {
      font-size: .36rem;
      line-height: .5rem;
      padding: .4rem 0; }
  .guess #floatRet {
    display: none; }
    .guess #floatRet .content {
      width: 80%;
      min-width: 5rem;
      border-radius: .3rem;
      background: url(../img/fail.png) #fff no-repeat center 1rem;
      background-size: .5rem .5rem;
      padding-top: 1.7rem;
      padding: 1.7rem 0.7rem 0.8rem 0.7rem; }
      .guess #floatRet .content p {
        font-size: .42rem;
        margin-bottom: .5rem; }
      .guess #floatRet .content .btn {
        height: .8rem;
        line-height: 0.8rem;
        color: #fff;
        font-size: .36rem; }
    .guess #floatRet.fail .content {
      background-image: url(../img/fail.png); }
    .guess #floatRet.success .content {
      background-image: url(../img/success.png); }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-120%);
    -webkit-filter: blur(3px); }
  70% {
    -webkit-transform: translateY(0%);
    -webkit-filter: blur(1px); }
  80% {
    -webkit-transform: translateY(-5px); }
  90% {
    -webkit-transform: translateY(2px); }
  100% {
    -webkit-transform: translateY(0);
    -webkit-filter: blur(0px); } }
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(2px); }
  20% {
    -webkit-transform: translateY(-3px); }
  40% {
    -webkit-transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(-120%); } }
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(3);
    opacity: 0;
    -webkit-filter: blur(2px); }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    -webkit-filter: blur(0); } }
@-webkit-keyframes fadeOut {
  100% {
    -webkit-transform: scale(3);
    opacity: 0;
    -webkit-filter: blur(2px); } }

/*# sourceMappingURL=business.css.map */
