@charset "utf-8";
@import 'macro.scss';
@import 'public.scss';

/*发现首页*/
.findIndex{
    padding-bottom: .98rem;
    .content{
        li{
            position: relative;
            p{
                @include hvCenter() ;
                font-size: .6rem;
                color: #fff;
                text-shadow: 1px 1px 3px #333;
            }
        } 
    }
}

/*发现详情页*/
.findDetail{
    section{
        position: relative;
        .album{
            height: 4.5rem;  
            overflow: hidden;
            img{
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        .fStatus{
            &:after{
                content:'';
                font-family: FontAwesome;
                color: $color_hl;
                position: absolute;
                top: .2rem;
                right: .2rem;
                font-size:.6rem;
                text-shadow: 1px 1px 1px #333;
            }
            &.focused:after{
                content:"";
            }
        }
        .merIcon{
            width:1.5rem;
            height: 1.5rem;
            border: solid .06rem #fff;
            border-radius: 50%;
            position: absolute;
            right: $padding;
            top: 3.6rem;
        }
        .desc{
            padding: $padding;
            h2{
                font-size: .36rem;
                color: $color_dark;
                margin: .2rem 0;
            }
        }
        .data{
            margin-bottom: .3rem;
            p,img{
                width: .9rem;
                height: .9rem;
                border-radius: 50%;
                display: inline-block;
                margin-right: .3rem;
                margin-bottom: .1rem;
            }
            p{
                border: solid 1px #b6b6b6;
                line-height: .9rem;
                text-align: center;
                font-size: .3rem;
                color: #333;
            }
            
        }
    }
    
}

