@charset "utf-8";
@import 'var.scss';
@import 'macro.scss';


.icon-search , .icon-close{
	font-family: FontAwesome;
	font-size: .28rem;
}



/*2.1*/
.search {

	.logo {
		margin-top:.8rem;
		img {
			width:1.22rem;
			height:1.22rem;
			margin:0 auto;
			
			border: none;
    		border-radius: .4rem;
    		background-color:#000;
		}
	}

	.title {
		margin: .27rem 0 .5rem 0;
	 	font-size:.3rem;
	 	text-align:center;
	}

	.blank {
		margin:0 .1rem;
		li {
			padding:.2rem .1rem;
			border-bottom:1px solid #b2b3b9;
			overflow:hidden;
			line-height:.4rem;
			position:relative;

			span {
				margin-right :.2rem; 
				float:left;
				width:19%;
				font-size:.26rem;
				color:#212121;
			}

			input {
				border:none;
				float:left;
				height:.4rem;
				width:75%;
				font-size:.2rem;
				color:#848484;
			}

			&:after {
				content: '';
			    position: absolute;
			    top: .36rem;
			    right: .2rem;
			    width: .13rem;
			    height: .13rem;
			    border: .02rem solid #000;
			    border-width: 0 0 .02rem .02rem;
			    -webkit-transform: rotate(-135deg);
			    -ms-transform: rotate(-135deg);
			    transform: rotate(-135deg);
			}

		}
	}

	.price-range {
		padding : .45rem .2rem;

		p {
		font-size:.26rem;
		}
	}

	.submit {
		padding:0 .2rem;

		button {
			width:100%;
			height:.78rem;
			font-size:.4rem;
			background-color:#212121;
			border:none;
			color:#FFF;
			border-radius:.1rem;
			font-style:simsun;
			font-weight:normal;
		}
	}
}



/*2.2*/
.header-search {
	height:auto;
	overflow:hidden;
	padding: .2rem;
	line-height:.58rem;
	position:relative;

	.header-input {
		background-color:#5b5d60;
		border:none;
		width:70%;
		float:left;
		height:.58rem;
		margin-left:.4rem;
		border-radius:.1rem;
		text-align:center;
		padding:0 .5rem 0 .6rem;

	}

	a {
		float:left;
		width:20%;
		text-align:center;
		font-size:.28rem;
		margin-left:.1rem;
		color:#FFF;
	}

	.icon-search {
	    position: absolute;
	    left: .9rem;
	    top: .21rem;
	    color: #b5b5b5;

	}


}


.desitination {

	.location {
		margin:.4rem .2rem;
		li {
			h4 {
				color:#212121;
				font-size:.28rem;
				font-weight:normal;
			}

			p {
				color:#848484;
				font-size:.24rem;
				margin-left:.57rem;
				position:relative;
				span{
					position:absolute;
					right:.25rem;
					color:#4d4d4d;
					font-size:.32rem;
					top:-.07rem;	
				}
			}
		}
	}


	.hot-city {
		h3 {
			padding-bottom:.2rem;
			border-bottom:.02rem solid #b2b3b9;
			font-size:.28rem;
			font-weight:normal;
		}

		.tags {
			a {
				float:left;
				padding:.15rem .5rem;
				border:.02rem solid #ff4200;
				color:#ff4200;
				margin: 0 .4rem .2rem 0;
				border-radius:.08rem;

			}
		}
	}
	
}

/*2.3*/
.filter-search {
	margin:.2rem .1rem;
	position: relative;
	.s {
		position:relative;

		.icon-search {
			position: absolute;
			left: .2rem;
    		top: .15rem;
    		color: #b5b5b5;
		}

		.filter-input {

			width:100%;
			background-color:#eee;
			height:.6rem;
			border-radius:.08rem;
			border:.02rem solid	#c1c1c1;
			text-align:center;
			padding:0 .58rem;
		}

		.icon-close {
			color: #b5b5b5;
		    position: absolute;
		    top: .13rem;
		    right: .2rem;
		    font-size: .34rem;
		}
	}

	.f {
		margin-top:.2rem;
		overflow:hidden;
		border:.02rem solid #b2b3b9;
		border-width:.02rem .02rem 0 .02rem;
		li {
			width:25%;
			float:left;
			text-align:center;
			height:.6rem;
			line-height:.6rem;
			background-color:#e1e1e6;
			border-right:.02rem solid #b2b3b9;
			border-bottom:.02rem solid #b2b3b9;
			color:#444;
			&:last-child {
				border-right:none;
			}
			&.active {
				color:#ff4200;
				border-bottom:none;
				background-color:#FFF;
				 &:after{
	                content:"";
	                height: 0;
	                position: absolute;
	                left: 0;
	                right: 0;
	                background: #222325;
	                bottom: 0;
           		}	
			}
		}	
	}

	.tab-content {
		position:absolute;
		z-index:99;
		width:100%;
		border : .02rem solid #b2b3b9;
		border-width: 0 .02rem .02rem;

		.tabItem {
			padding: 0;
			background-color:#FFF;

			h4 {

				padding: .2rem .1rem .1rem;
				margin:0;
				font-size:.28rem;
				font-weight:normal;
			}


			ul{
				li {
					height:.58rem;
					line-height:.58rem;
					padding-left:.1rem;
					color:#444;
					font-size:.28rem;

					input {
						-webkit-appearance: checkbox;
						&:checked {
							&:after {
								content:'';
							}
						}
					}


					&:active {
						background-color:#ebebf1;
					}
				}
			}

			.item-price {
				padding: .2rem .15rem .15rem;
				.btn {
					text-align:center;
					margin-top:.2rem;
					button{
						width:50%;
						height:.6rem;
						background-color:#333;
						color:#FFF;
						border:none;
						border-radius:.06rem;
					}
				} 
			}

			.tags {
				margin-top:.2rem;
				padding:.1rem;
				overflow:hidden;

				.tag {
					padding:.1rem .15rem;
					color:#ff4200;
					border: .02rem solid #ff4200;
					float:left;
					margin:0 .2rem .25rem 0;
					border-radius:.06rem;
					font-size:.28rem;
				}
			}
		}



	}
}


.irs {
    position: relative; display: block;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 10%;
        }
        .irs-line-mid {
            left: 10%; width: 80%;
        }
        .irs-line-right {
            right: 0; width: 10%;
        }

    .irs-diapason {
        position: absolute; display: block;
        left: 0; width: 100%;
    }
    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {
            left: 10px;
        }
            .irs-slider.single:before {
                position: absolute; display: block; content: "";
                top: -50%; left: -100%;
                width: 300%; height: 200%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.from {
            left: 100px;
            background-color: #fff;
            border:1px solid #fe5e26;
            border-radius: 50%;
        }
            .irs-slider.from:before {
                position: absolute; display: block; content: "";
                top: -50%; 
                left: -50%;
                width: 200%; 
                height: 200%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.to {
            left: 300px;
            background-color: #fff;
            border:1px solid #fe5e26;
            border-radius: 50%; 
        }
            .irs-slider.to:before {
                position: absolute; 
                display: block; 
                content: "";
                top: -50%; 
                left: -50%;
                width: 200%; 
                height: 200%;
                background: rgba(0,0,0,0.0);
            }
        .irs-slider.last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap;
    }


.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        width: 100px;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        color: #000;
    }


.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
    background: #999;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px;
    top: 25px;
    background-color: #b1b1b1;
    border-radius: 4px;
}
    .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 8px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.irs-diapason {
    height: 8px; top: 25px;
    background-position: 0 -60px;
    background-color: #fe5e26;
}

.irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -90px;
}
#irs-active-slider, .irs-slider:hover {
    background-position: 0 -120px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #FFF;
    border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #FFF;
    border-radius: 3px;
    color: #999;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}
.irs-grid-text {
    color: #99a4ac;
}

.irs-disabled {
}

.progress-bar {
	margin:.17rem .2rem;
	position:relative;
}
